@import './common.scss';
@import './flex';
// @import './custom';

:root {
  --colorBar: #50bcb6;
  --colorActive: #0084ff;
  --colorComment: #ef6d57;
  --colorDefault: #24292e;
  --colorTitle: #2c3e50;
  --colorGreen: #26a69a;
  --colorLight: #9fb7c7;
  --colorLightGray: #909090;
}

// 改变鼠标选中文字的样式
::selection {
  background: var(--colorGreen) !important;
  color: #fff !important;
}

#app {
  position: relative;
  min-height: 100%;
  // max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
}
